@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');

.right-side .title {
    font-size: 35px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.new-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 65%;
}

.new-password i {
    font-size: 75px;
}

#new-password {
    padding: 15px;
    width: 75%;
    font-size: 15px;
    border-radius: 15px;
    border: none;
}

#new-password:focus {
    outline: red 1px solid;
    border: none;
}

#confirm-new-password {
    padding: 15px;
    width: 75%;
    font-size: 15px;
    border-radius: 15px;
    border: none;
}

#confirm-new-password:focus {
    outline: red 1px solid;
    border: none;
}

.submit {
    padding: 10px 60px;
    border-radius: 15px;
    background-color: #317162;
    color: white;
    border: none;
    cursor: pointer;
}

.submit:hover {
    background-color: #ff5a5a;
    color: rgb(0, 0, 0);
}