@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');

.right-side .title {
    font-size: 45px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 65%;
}

.login-form i {
    font-size: 100px;
}

#password {
    padding: 15px;
    width: 75%;
    font-size: 15px;
    border-radius: 15px;
    border: none;
}

#password:focus {
    outline: red 1px solid;
    border: none;
}

.login {
    padding: 10px 60px;
    border-radius: 15px;
    background-color: #317162;
    color: white;
    border: none;
    cursor: pointer;
}

.login:hover {
    background-color: #ff5a5a;
    color: rgb(0, 0, 0);
}