@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');

.title-price-booking {
    text-align: center;
    font-size: 40px;
    width: 100%;
}

.price-booking {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url('../images/paper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.booking-part {
    width: 60%;
    height: 100%;
    background-color: rgba(217, 217, 217, 0.7);
    border-radius: 25px;
    padding: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.personal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vh;
    height: 57.5vh;
    gap: 15px;
    background-color: #BAB6B6;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
}

#personal-title {
    margin-top: -10px;
}

.fields {
    padding: 1.5vh 2vh;
    width: 30vh;
    border: none;
    border-radius: 10px;
    font-family: 'Lustria', serif;
    font-size: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}

.fields:focus {
    border-color: red;
    outline: 1px solid rgb(229, 23, 23);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.booking-title {
    margin-bottom: -5px;
    text-align: start;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-weight: 500;
}

.booking-form {
    width: 60%;
    height: 98.7%;
    background-color: rgba(217, 217, 217, 0.5);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2.5vh;
}

.booking-form #event-name {
    padding: 1.5vh 2vh;
    width: 40vh;
    border: none;
    border-radius: 10px;
    font-family: 'Lustria', serif;
    font-size: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.booking-form #event-name:focus {
    outline: 1px solid rgb(229, 23, 23);
}

.booking-form #event-description {
    padding: 1.5vh 2vh;
    width: 40vh;
    height: 22vh;
    border: none;
    border-radius: 10px;
    font-family: 'Lustria', serif;
    font-size: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    resize: none;
    overflow: auto;
}

.booking-form #event-description:focus {
    outline: 1px solid rgb(229, 23, 23);
}

.booking-form .no-attendees-dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.booking-form select {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.booking-form select:focus {
    outline: 1px solid rgb(229, 23, 23);
}

.booking-form #no-of-attendees {
    padding: 1vh 2vh;
    width: 25vh;
    border: none;
    border-radius: 10px;
    font-family: 'Lustria', serif;
}

.booking-form .event-date-selection {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.booking-form #event-date {
    padding: 1vh 2vh;
    width: 25vh;
    border: none;
    border-radius: 10px;
    font-family: 'Lustria', serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.booking-form #event-date:focus {
    outline: 1px solid rgb(229, 23, 23);
}

.booking-form button {
    padding: 5px 30px;
    font-size: 15px;
    border-radius: 15px;
    outline: none;
    border: none;
    font-family: 'Lustria', serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.booking-form button:hover {
    background-color: rgb(158, 31, 31);
    color: white;
    cursor: pointer;
}

.divider {
    width: 2%;
    height: 100%;
}

.price-booking-content {
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 65%;
}

.pricing-part {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38%;
    height: 100%;
}

.pricing-part p {
    font-family: 'Lustria', serif;
    font-size: 31px;
}

.price {
    color: rgb(179, 32, 32);
}

.time {
    color: rgb(18, 18, 153);
}

.price-booking img {
    height: auto;
    width: 30px;
}

.price-booking footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

footer .contact-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

footer span {
    margin: 45px 50px;
}